<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            color: #333;
            background-color: #f4f4f4;
            padding: 70px;
            margin: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
        }

        .header {
            margin: 0;
            padding: 20px 0;
            background-color: #399100;
            border-radius: 10px 10px 0 0;
            text-align: center;
            color: #fff;
        }

        .header img {
            max-width: 100%;
            height: auto;
        }

        .name {
            font-weight: bold;
        }

        .content {
            padding: 20px 0;
            text-align: center;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #399100;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        .button:hover {
            background-color: #399100dd;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <!--<img src="" alt="Header image">-->
    </div>
    <div class="content">
        <h1>Reset your password</h1>
        <p class="name">Hi {{name}},</p>
        <p>Please click the following button to reset your password:</p>
        <p><a href="{{verificationLink}}" class="button">Reset</a></p>
    </div>
</div>
</body>
</html>
